<?xml version="1.0" encoding="utf-8"?>
<TcMDProject Version="1.8.3.0">
	<GUID>d4d47b8f-d036-4578-a30f-c88a75423bda</GUID>
	<ProjectName>Example_Motion_Designer</ProjectName>
	<Description>Example_Motion_Designer</Description>
	<ResourceFiles />
	<ReportExtension />
	<DClinks>
		<TcMDDClink Version="1.8.3.0">
			<GUID>2e0db252-2aec-4f2e-9a1e-ea0e7901cc7f</GUID>
			<Name>DC link 1</Name>
			<Properties>
				<Name>Properties</Name>
				<Parameter>
					<PropertyName>UMain</PropertyName>
					<Value>
						<NumberNode>
							<Content>230</Content>
						</NumberNode>
					</Value>
					<Unit>V</Unit>
				</Parameter>
				<Parameter>
					<PropertyName>PowerSupplyType</PropertyName>
					<Value>AC3PH</Value>
				</Parameter>
				<Parameter>
					<PropertyName>AdditionalCapacitance</PropertyName>
					<Value>
						<NumberNode>
							<Content>0</Content>
						</NumberNode>
					</Value>
					<Unit>F</Unit>
				</Parameter>
				<Parameter>
					<PropertyName>DriveGroup</PropertyName>
					<Value>AX8000</Value>
				</Parameter>
				<Parameter>
					<PropertyName>VoltageTolerance</PropertyName>
					<Value>
						<NumberNode>
							<Content>0.05</Content>
						</NumberNode>
					</Value>
					<Unit>1</Unit>
				</Parameter>
				<Parameter>
					<PropertyName>ChopperThreshold</PropertyName>
					<Value>
						<NumberNode>
							<Content>840</Content>
						</NumberNode>
					</Value>
					<Unit>V</Unit>
				</Parameter>
				<Parameter>
					<PropertyName>BrakeResistanceOption</PropertyName>
					<Value>BrakeResIntern</Value>
				</Parameter>
			</Properties>
			<Axes>
				<TcMDRotAxis Version="1.8.3.0">
					<GUID>0163e386-3f8d-4c16-b86c-2f7491102427</GUID>
					<Name>Rotary axis 1</Name>
					<Drive>
						<OrderCode>AX8206-0x10-0000</OrderCode>
						<UniqueOrderCode>AX8206-0x10-0000</UniqueOrderCode>
						<OrderCodeConfiguration>
							<Name>OrderCode</Name>
							<Parameter>
								<PropertyName>SafetyOption</PropertyName>
								<Value>SafeMotion</Value>
							</Parameter>
						</OrderCodeConfiguration>
					</Drive>
					<ReportExtension>
						<ReportParagraph>
							<Name />
							<Parameter>
								<PropertyName>StyleSheet</PropertyName>
								<Value>StyleSheetRunningText</Value>
							</Parameter>
							<Parameter>
								<PropertyName>Text</PropertyName>
								<Value />
							</Parameter>
						</ReportParagraph>
					</ReportExtension>
					<LoadcaseBlock>
						<RotaryTableLoadcase Configuration="2">
							<Name />
							<Parameter>
								<PropertyName>Inertia</PropertyName>
								<Value>
									<Collection>
										<Cylinder Configuration="1">
											<Name>Cylinder</Name>
											<Parameter>
												<PropertyName>Number</PropertyName>
												<Value>1</Value>
											</Parameter>
											<Parameter>
												<PropertyName>Mode</PropertyName>
												<Value>ModeAddition</Value>
											</Parameter>
											<Parameter>
												<PropertyName>Diameter</PropertyName>
												<Value>
													<NumberNode>
														<Content>60</Content>
													</NumberNode>
												</Value>
												<Unit>mm</Unit>
											</Parameter>
											<Parameter>
												<PropertyName>Height</PropertyName>
												<Value>
													<NumberNode>
														<Content>24</Content>
													</NumberNode>
												</Value>
												<Unit>mm</Unit>
											</Parameter>
											<Parameter>
												<PropertyName>DistanceAxis</PropertyName>
												<Value>
													<NumberNode>
														<Content>0</Content>
													</NumberNode>
												</Value>
												<Unit>mm</Unit>
											</Parameter>
											<Parameter>
												<PropertyName>RotaryAxis</PropertyName>
												<Value>AAxis</Value>
											</Parameter>
											<Parameter>
												<PropertyName>Density</PropertyName>
												<Value>
													<NumberNode>
														<Content>1.29</Content>
													</NumberNode>
												</Value>
												<Unit>kg/l</Unit>
											</Parameter>
											<Parameter>
												<PropertyName>Mass</PropertyName>
												<Value>
													<NumberNode>
														<Content>0</Content>
													</NumberNode>
												</Value>
												<Unit>kg</Unit>
											</Parameter>
										</Cylinder>
									</Collection>
								</Value>
								<Unit>kgcm²</Unit>
							</Parameter>
							<Parameter>
								<PropertyName>ExcentricMass</PropertyName>
								<Value>
									<NumberNode>
										<Content>1</Content>
									</NumberNode>
								</Value>
								<Unit>kg</Unit>
							</Parameter>
							<Parameter>
								<PropertyName>ExcentricDistance</PropertyName>
								<Value>
									<NumberNode>
										<Content>50</Content>
									</NumberNode>
								</Value>
								<Unit>mm</Unit>
							</Parameter>
							<Parameter>
								<PropertyName>Inclination</PropertyName>
								<Value>
									<NumberNode>
										<Content>0</Content>
									</NumberNode>
								</Value>
								<Unit>°</Unit>
							</Parameter>
							<Parameter>
								<PropertyName>Efficiency</PropertyName>
								<Value>
									<NumberNode>
										<Content>94</Content>
									</NumberNode>
								</Value>
								<Unit>%</Unit>
							</Parameter>
							<Parameter>
								<PropertyName>Gravitation</PropertyName>
								<Value>
									<NumberNode>
										<Content>9.81</Content>
									</NumberNode>
								</Value>
								<Unit>m/s²</Unit>
							</Parameter>
							<Parameter>
								<PropertyName>TorqueNoLoadRunning</PropertyName>
								<Value>
									<NumberNode>
										<Content>0</Content>
									</NumberNode>
								</Value>
								<Unit>Nm</Unit>
							</Parameter>
						</RotaryTableLoadcase>
					</LoadcaseBlock>
					<TrajectoryBlock>
						<Name>Trajectory</Name>
						<Parameter>
							<PropertyName>InitialValue</PropertyName>
							<Value>
								<NumberNode>
									<Content>0</Content>
								</NumberNode>
							</Value>
							<Unit>°</Unit>
						</Parameter>
						<Sections>
							<AccJerk GroupType="H2HPosDur">
								<Name>Motion section</Name>
								<Parameter>
									<PropertyName>PositionMode</PropertyName>
									<Value>Relative</Value>
								</Parameter>
								<Parameter>
									<PropertyName>PositionInput</PropertyName>
									<Value>
										<NumberNode>
											<Content>360</Content>
										</NumberNode>
									</Value>
									<Unit>°</Unit>
								</Parameter>
								<Parameter>
									<PropertyName>DurationInput</PropertyName>
									<Value>
										<NumberNode>
											<Content>1</Content>
										</NumberNode>
									</Value>
									<Unit>s</Unit>
								</Parameter>
								<Parameter>
									<PropertyName>AccelerationInput</PropertyName>
									<Value>
										<NumberNode>
											<Content>3600</Content>
										</NumberNode>
									</Value>
									<Unit>°/s²</Unit>
								</Parameter>
								<Parameter>
									<PropertyName>DecelerationInput</PropertyName>
									<Value>
										<NumberNode>
											<Content>3600</Content>
										</NumberNode>
									</Value>
									<Unit>°/s²</Unit>
								</Parameter>
								<Parameter>
									<PropertyName>JerkInput</PropertyName>
									<Value>
										<NumberNode>
											<Content>36000</Content>
										</NumberNode>
									</Value>
									<Unit>rad/s³</Unit>
								</Parameter>
							</AccJerk>
							<AccJerk GroupType="H2HPosDur">
								<Name>Motion section</Name>
								<Parameter>
									<PropertyName>PositionMode</PropertyName>
									<Value>Relative</Value>
								</Parameter>
								<Parameter>
									<PropertyName>PositionInput</PropertyName>
									<Value>
										<NumberNode>
											<Content>120</Content>
										</NumberNode>
									</Value>
									<Unit>°</Unit>
								</Parameter>
								<Parameter>
									<PropertyName>DurationInput</PropertyName>
									<Value>
										<NumberNode>
											<Content>1</Content>
										</NumberNode>
									</Value>
									<Unit>s</Unit>
								</Parameter>
								<Parameter>
									<PropertyName>AccelerationInput</PropertyName>
									<Value>
										<NumberNode>
											<Content>1</Content>
										</NumberNode>
									</Value>
									<Unit>°/s²</Unit>
								</Parameter>
								<Parameter>
									<PropertyName>DecelerationInput</PropertyName>
									<Value>
										<NumberNode>
											<Content>1</Content>
										</NumberNode>
									</Value>
									<Unit>°/s²</Unit>
								</Parameter>
								<Parameter>
									<PropertyName>JerkInput</PropertyName>
									<Value>
										<NumberNode>
											<Content>100</Content>
										</NumberNode>
									</Value>
									<Unit>rad/s³</Unit>
								</Parameter>
							</AccJerk>
							<AccJerk GroupType="H2HPosDur">
								<Name>Motion section</Name>
								<Parameter>
									<PropertyName>PositionMode</PropertyName>
									<Value>Relative</Value>
								</Parameter>
								<Parameter>
									<PropertyName>PositionInput</PropertyName>
									<Value>
										<NumberNode>
											<Content>120</Content>
										</NumberNode>
									</Value>
									<Unit>°</Unit>
								</Parameter>
								<Parameter>
									<PropertyName>DurationInput</PropertyName>
									<Value>
										<NumberNode>
											<Content>1</Content>
										</NumberNode>
									</Value>
									<Unit>s</Unit>
								</Parameter>
								<Parameter>
									<PropertyName>AccelerationInput</PropertyName>
									<Value>
										<NumberNode>
											<Content>3600</Content>
										</NumberNode>
									</Value>
									<Unit>°/s²</Unit>
								</Parameter>
								<Parameter>
									<PropertyName>DecelerationInput</PropertyName>
									<Value>
										<NumberNode>
											<Content>3600</Content>
										</NumberNode>
									</Value>
									<Unit>°/s²</Unit>
								</Parameter>
								<Parameter>
									<PropertyName>JerkInput</PropertyName>
									<Value>
										<NumberNode>
											<Content>36000</Content>
										</NumberNode>
									</Value>
									<Unit>rad/s³</Unit>
								</Parameter>
							</AccJerk>
						</Sections>
					</TrajectoryBlock>
					<ForceBlock>
						<Name>ForceGenerator</Name>
						<Sections />
					</ForceBlock>
					<MassBlock>
						<Name>MassGenerator</Name>
						<Sections />
					</MassBlock>
					<MotorAddData>
						<OrderCode>AM8013-xDxx-0000</OrderCode>
						<UniqueOrderCode>AM8013-0D00-0000</UniqueOrderCode>
						<OrderCodeConfiguration>
							<Name>OrderCode</Name>
							<Parameter>
								<PropertyName>ShaftDefinition</PropertyName>
								<Value>SmoothShaft</Value>
							</Parameter>
							<Parameter>
								<PropertyName>FeedbackSystem</PropertyName>
								<Value>G</Value>
							</Parameter>
							<Parameter>
								<PropertyName>BrakingOption</PropertyName>
								<Value>NoBrake</Value>
							</Parameter>
						</OrderCodeConfiguration>
					</MotorAddData>
					<Cables>
						<Cable>
							<OrderCode>ZK4800-8002-xxxx</OrderCode>
							<UniqueOrderCode>ZK4800-8002-xxxx</UniqueOrderCode>
							<OrderCodeConfiguration>
								<Name>OrderCode</Name>
								<Parameter>
									<PropertyName>CableLength</PropertyName>
									<Value>5 m</Value>
								</Parameter>
							</OrderCodeConfiguration>
						</Cable>
					</Cables>
					<CableAccessories>
						<CableAccessory Qty="1">
							<OrderCode>ZB8804-0004</OrderCode>
							<UniqueOrderCode>ZB8804-0004</UniqueOrderCode>
						</CableAccessory>
						<CableAccessory Qty="1">
							<OrderCode>ZS4000-2100</OrderCode>
							<UniqueOrderCode>ZS4000-2100</UniqueOrderCode>
						</CableAccessory>
					</CableAccessories>
					<MotorAccessories />
					<MotorThermalUtilizationParameter>
						<Name />
						<Parameter>
							<PropertyName>NumberOfCycles</PropertyName>
							<Value>100</Value>
						</Parameter>
						<Parameter>
							<PropertyName>NumberOfEndCycles</PropertyName>
							<Value>5</Value>
						</Parameter>
					</MotorThermalUtilizationParameter>
					<DriveThermalUtilizationParameter>
						<Name />
						<Parameter>
							<PropertyName>NumberOfCycles</PropertyName>
							<Value>100</Value>
						</Parameter>
						<Parameter>
							<PropertyName>NumberOfEndCycles</PropertyName>
							<Value>5</Value>
						</Parameter>
					</DriveThermalUtilizationParameter>
					<EmergencyBrakeParameter>
						<Name>EmergencyProperties</Name>
						<Parameter>
							<PropertyName>EmergencyTorque</PropertyName>
							<Value>
								<NumberNode>
									<Content>15</Content>
								</NumberNode>
							</Value>
							<Unit>Nm</Unit>
						</Parameter>
					</EmergencyBrakeParameter>
					<OverallGearRatio>1</OverallGearRatio>
					<Feedconstant>1/(1)*(360)</Feedconstant>
					<MotorGearboxFilter>
						<IsOptimizerActive>false</IsOptimizerActive>
						<IsGearboxUsed>true</IsGearboxUsed>
						<NomSafetyFactor>1</NomSafetyFactor>
						<MaxSafetyFactor>1</MaxSafetyFactor>
						<GearboxFilter>
							<SuitableGearboxesOnly>false</SuitableGearboxesOnly>
							<ShowDeprecatedGearboxes>false</ShowDeprecatedGearboxes>
							<DesignType>3</DesignType>
							<OutputGeometry>3</OutputGeometry>
							<VelocityUtilizationWeight>0</VelocityUtilizationWeight>
							<VelocityUtilizationValue>0.7</VelocityUtilizationValue>
							<TorqueUtilizationWeight>0</TorqueUtilizationWeight>
							<TorqueUtilizationValue>0.7</TorqueUtilizationValue>
							<VendorFilter>
								<Element>Beckhoff Automation GmbH &amp; Co. KG</Element>
								<Children>
									<Child>
										<Element>AG2210-+LP</Element>
										<Children>
											<Child>
												<Element>AG2210-+LP120</Element>
											</Child>
											<Child>
												<Element>AG2210-+LP155</Element>
											</Child>
											<Child>
												<Element>AG2210-+LP50</Element>
											</Child>
											<Child>
												<Element>AG2210-+LP70</Element>
											</Child>
											<Child>
												<Element>AG2210-+LP90</Element>
											</Child>
										</Children>
									</Child>
									<Child>
										<Element>AG2250-+PLE</Element>
										<Children>
											<Child>
												<Element>AG2250-+PLE40</Element>
											</Child>
											<Child>
												<Element>AG2250-+PLE60</Element>
											</Child>
											<Child>
												<Element>AG2250-+PLE80</Element>
											</Child>
										</Children>
									</Child>
									<Child>
										<Element>AG2250-+WPLE</Element>
										<Children>
											<Child>
												<Element>AG2250-+WPLE40</Element>
											</Child>
											<Child>
												<Element>AG2250-+WPLE60</Element>
											</Child>
											<Child>
												<Element>AG2250-+WPLE80</Element>
											</Child>
										</Children>
									</Child>
									<Child>
										<Element>AG2300-+SP</Element>
										<Children>
											<Child>
												<Element>AG2300-+SP100</Element>
											</Child>
											<Child>
												<Element>AG2300-+SP140</Element>
											</Child>
											<Child>
												<Element>AG2300-+SP180</Element>
											</Child>
											<Child>
												<Element>AG2300-+SP210</Element>
											</Child>
											<Child>
												<Element>AG2300-+SP240</Element>
											</Child>
											<Child>
												<Element>AG2300-+SP60</Element>
											</Child>
											<Child>
												<Element>AG2300-+SP75</Element>
											</Child>
										</Children>
									</Child>
									<Child>
										<Element>AG2400-+TP</Element>
										<Children>
											<Child>
												<Element>AG2400-+TP004</Element>
											</Child>
											<Child>
												<Element>AG2400-+TP010</Element>
											</Child>
											<Child>
												<Element>AG2400-+TP025</Element>
											</Child>
											<Child>
												<Element>AG2400-+TP050</Element>
											</Child>
											<Child>
												<Element>AG2400-+TP110</Element>
											</Child>
											<Child>
												<Element>AG2400-+TP300</Element>
											</Child>
										</Children>
									</Child>
									<Child>
										<Element>AG2800-+HDV</Element>
										<Children>
											<Child>
												<Element>AG2800-+HDV15</Element>
											</Child>
											<Child>
												<Element>AG2800-+HDV25</Element>
											</Child>
											<Child>
												<Element>AG2800-+HDV35</Element>
											</Child>
										</Children>
									</Child>
									<Child>
										<Element>AG3210-+NP</Element>
										<Children>
											<Child>
												<Element>AG3210-+NP005</Element>
											</Child>
											<Child>
												<Element>AG3210-+NP015</Element>
											</Child>
											<Child>
												<Element>AG3210-+NP025</Element>
											</Child>
											<Child>
												<Element>AG3210-+NP035</Element>
											</Child>
											<Child>
												<Element>AG3210-+NP045</Element>
											</Child>
										</Children>
									</Child>
									<Child>
										<Element>AG3300-+NPS</Element>
										<Children>
											<Child>
												<Element>AG3300-+NPS015</Element>
											</Child>
											<Child>
												<Element>AG3300-+NPS025</Element>
											</Child>
											<Child>
												<Element>AG3300-+NPS035</Element>
											</Child>
											<Child>
												<Element>AG3300-+NPS045</Element>
											</Child>
										</Children>
									</Child>
									<Child>
										<Element>AG3400-+NPT</Element>
										<Children>
											<Child>
												<Element>AG3400-+NPT005</Element>
											</Child>
											<Child>
												<Element>AG3400-+NPT015</Element>
											</Child>
											<Child>
												<Element>AG3400-+NPT025</Element>
											</Child>
											<Child>
												<Element>AG3400-+NPT035</Element>
											</Child>
											<Child>
												<Element>AG3400-+NPT045</Element>
											</Child>
										</Children>
									</Child>
								</Children>
							</VendorFilter>
							<StageRatioFilter>
								<Element>1</Element>
								<Children>
									<Child>
										<Element>3</Element>
									</Child>
									<Child>
										<Element>4</Element>
									</Child>
									<Child>
										<Element>5</Element>
									</Child>
									<Child>
										<Element>7</Element>
									</Child>
									<Child>
										<Element>8</Element>
									</Child>
									<Child>
										<Element>10</Element>
									</Child>
								</Children>
							</StageRatioFilter>
							<StageRatioFilter>
								<Element>2</Element>
								<Children>
									<Child>
										<Element>9</Element>
									</Child>
									<Child>
										<Element>12</Element>
									</Child>
									<Child>
										<Element>15</Element>
									</Child>
									<Child>
										<Element>16</Element>
									</Child>
									<Child>
										<Element>20</Element>
									</Child>
									<Child>
										<Element>21</Element>
									</Child>
									<Child>
										<Element>25</Element>
									</Child>
									<Child>
										<Element>28</Element>
									</Child>
									<Child>
										<Element>30</Element>
									</Child>
									<Child>
										<Element>31</Element>
									</Child>
									<Child>
										<Element>32</Element>
									</Child>
									<Child>
										<Element>35</Element>
									</Child>
									<Child>
										<Element>40</Element>
									</Child>
									<Child>
										<Element>50</Element>
									</Child>
									<Child>
										<Element>61</Element>
									</Child>
									<Child>
										<Element>64</Element>
									</Child>
									<Child>
										<Element>70</Element>
									</Child>
									<Child>
										<Element>91</Element>
									</Child>
									<Child>
										<Element>100</Element>
									</Child>
								</Children>
							</StageRatioFilter>
							<StageRatioFilter>
								<Element>3</Element>
								<Children>
									<Child>
										<Element>60</Element>
									</Child>
									<Child>
										<Element>80</Element>
									</Child>
									<Child>
										<Element>100</Element>
									</Child>
									<Child>
										<Element>120</Element>
									</Child>
									<Child>
										<Element>160</Element>
									</Child>
									<Child>
										<Element>200</Element>
									</Child>
									<Child>
										<Element>256</Element>
									</Child>
									<Child>
										<Element>320</Element>
									</Child>
									<Child>
										<Element>512</Element>
									</Child>
								</Children>
							</StageRatioFilter>
						</GearboxFilter>
						<MotorFilter>
							<SuitableMotorsOnly>false</SuitableMotorsOnly>
							<GearboxFit>false</GearboxFit>
							<HygienicDesignNeeded>false</HygienicDesignNeeded>
							<FanAllowed>false</FanAllowed>
							<WithBrake>false</WithBrake>
							<Force400VMotors>false</Force400VMotors>
							<SelectedFeedbacks>199703</SelectedFeedbacks>
							<SelectedShafts>63</SelectedShafts>
							<VelocityUtilizationWeight>0</VelocityUtilizationWeight>
							<VelocityUtilizationValue>0.7</VelocityUtilizationValue>
							<TorqueUtilizationWeight>0</TorqueUtilizationWeight>
							<TorqueUtilizationValue>0.7</TorqueUtilizationValue>
							<InertiaRatioWeight>0</InertiaRatioWeight>
							<InertiaRatioValue>1</InertiaRatioValue>
							<PowerWeight>0</PowerWeight>
							<PriceWeight>0</PriceWeight>
							<VendorFilter>
								<Element>Beckhoff Automation GmbH &amp; Co. KG</Element>
								<Children>
									<Child>
										<Element>AM80xx</Element>
										<Children>
											<Child>
												<Element>AM801x</Element>
											</Child>
											<Child>
												<Element>AM802x</Element>
											</Child>
											<Child>
												<Element>AM803x</Element>
											</Child>
											<Child>
												<Element>AM804x</Element>
											</Child>
											<Child>
												<Element>AM805x</Element>
											</Child>
											<Child>
												<Element>AM806x</Element>
											</Child>
											<Child>
												<Element>AM807x</Element>
											</Child>
										</Children>
									</Child>
									<Child>
										<Element>AM81xx</Element>
										<Children>
											<Child>
												<Element>AM811x</Element>
											</Child>
											<Child>
												<Element>AM812x</Element>
											</Child>
											<Child>
												<Element>AM813x</Element>
											</Child>
											<Child>
												<Element>AM814x</Element>
											</Child>
										</Children>
									</Child>
									<Child>
										<Element>AM85xx</Element>
										<Children>
											<Child>
												<Element>AM853x</Element>
											</Child>
											<Child>
												<Element>AM854x</Element>
											</Child>
											<Child>
												<Element>AM855x</Element>
											</Child>
											<Child>
												<Element>AM856x</Element>
											</Child>
										</Children>
									</Child>
									<Child>
										<Element>AM87xx</Element>
										<Children>
											<Child>
												<Element>AM872x</Element>
											</Child>
											<Child>
												<Element>AM873x</Element>
											</Child>
											<Child>
												<Element>AM874x</Element>
											</Child>
											<Child>
												<Element>AM875x</Element>
											</Child>
											<Child>
												<Element>AM876x</Element>
											</Child>
										</Children>
									</Child>
									<Child>
										<Element>AM88xx</Element>
										<Children>
											<Child>
												<Element>AM883x</Element>
											</Child>
											<Child>
												<Element>AM884x</Element>
											</Child>
											<Child>
												<Element>AM885x</Element>
											</Child>
											<Child>
												<Element>AM886x</Element>
											</Child>
										</Children>
									</Child>
								</Children>
							</VendorFilter>
						</MotorFilter>
					</MotorGearboxFilter>
				</TcMDRotAxis>
			</Axes>
			<AxisModules>
				<Axis>
					<DriveModule>
						<OrderCode>AX8206-0x10-0000</OrderCode>
						<UniqueOrderCode>AX8206-0x10-0000</UniqueOrderCode>
						<OrderCodeConfiguration>
							<Name>OrderCode</Name>
							<Parameter>
								<PropertyName>SafetyOption</PropertyName>
								<Value>SafeMotion</Value>
							</Parameter>
						</OrderCodeConfiguration>
					</DriveModule>
					<Channels>
						<Channel>
							<ChannelIdx>0</ChannelIdx>
							<Name>Rotary axis 1</Name>
							<GUID>0163e386-3f8d-4c16-b86c-2f7491102427</GUID>
						</Channel>
					</Channels>
				</Axis>
			</AxisModules>
			<ReportExtension />
		</TcMDDClink>
	</DClinks>
	<CustomerParam>
		<Name />
		<Parameter>
			<PropertyName>PersonName</PropertyName>
			<Value />
		</Parameter>
		<Parameter>
			<PropertyName>Company</PropertyName>
			<Value />
		</Parameter>
		<Parameter>
			<PropertyName>Department</PropertyName>
			<Value />
		</Parameter>
		<Parameter>
			<PropertyName>Street</PropertyName>
			<Value />
		</Parameter>
		<Parameter>
			<PropertyName>ZipCode</PropertyName>
			<Value />
		</Parameter>
		<Parameter>
			<PropertyName>City</PropertyName>
			<Value />
		</Parameter>
		<Parameter>
			<PropertyName>Country</PropertyName>
			<Value />
		</Parameter>
		<Parameter>
			<PropertyName>Telephone</PropertyName>
			<Value />
		</Parameter>
		<Parameter>
			<PropertyName>Email</PropertyName>
			<Value />
		</Parameter>
	</CustomerParam>
	<UserParam>
		<Name />
		<Parameter>
			<PropertyName>PersonName</PropertyName>
			<Value />
		</Parameter>
		<Parameter>
			<PropertyName>Company</PropertyName>
			<Value />
		</Parameter>
		<Parameter>
			<PropertyName>Department</PropertyName>
			<Value />
		</Parameter>
		<Parameter>
			<PropertyName>Street</PropertyName>
			<Value />
		</Parameter>
		<Parameter>
			<PropertyName>ZipCode</PropertyName>
			<Value />
		</Parameter>
		<Parameter>
			<PropertyName>City</PropertyName>
			<Value />
		</Parameter>
		<Parameter>
			<PropertyName>Country</PropertyName>
			<Value />
		</Parameter>
		<Parameter>
			<PropertyName>Telephone</PropertyName>
			<Value />
		</Parameter>
		<Parameter>
			<PropertyName>Email</PropertyName>
			<Value />
		</Parameter>
	</UserParam>
</TcMDProject>